/********* Common CSS Starts **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  html,
  body {
    font-family r;
    font-size: 16px;
    color: #242424;
  }
  .container {
    width: 1300px;
    margin: 0px auto;
  }
  .main-section {
    width: 100%;
    float: left;
    padding: 70px 0px 70px 0px;
  }
  .heading {
    font-size: 28px;
    font-weight: 500;
    border-bottom: 1px solid #46b7c1;
    margin-bottom: 20px;
    color: #46b7c1;
  }
  /********* Common CSS End **********/